# environment *nix
!.htaccess
.*
!.gitignore
*~

# environment Windows
# Windows
Thumbs.db
Desktop.ini

# composer
vendor/*
composer.phar
composer.lock

# netbeanse
nbproject/*
*.swp
*/*.swp
nbactions.xml
nb-configuration.xml
.nb-gradle/

#Yii files
protected/runtime/*
uploads/*
